@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 15px;
}
@media (width < 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (width < 992px) {
  .container {
    max-width: 768px;
  }
}
@media (width < 768px) {
  .container {
    max-width: 576px;
  }
}
@media (width < 576px) {
  .container {
    max-width: 90%;
  }
}

.btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  padding: 18px 38px;
  background-color: #446DF6;
  color: #fff;
  transition: 0.3s;
  border: 1px solid #446DF6;
}
.btn:hover {
  background-color: #fff;
  border: 1px solid #446DF6;
  color: #446DF6;
}

.btn-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.btn-top.show {
  opacity: 1;
  visibility: visible;
}

.burger {
  font-size: 30px;
  display: none;
}
@media (width < 1200px) {
  .burger {
    display: block;
  }
}
.burger .fa-solid {
  display: block;
  color: #72727E;
}
.burger .burger-true,
.burger .burger-close {
  display: none;
}
.burger .burger-true:checked + .burger-line {
  display: none;
}
.burger .burger-true:checked ~ .burger-close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
@media (width < 1200px) {
  .header {
    border-bottom: 1px solid #E9ECF5;
  }
}
@media (width < 1200px) {
  .header .menu-nav {
    display: none;
  }
}
.header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.header .menu {
  display: flex;
  gap: 30px;
}
.header .menu .menu-item {
  position: relative;
}
.header .menu .menu-item:hover .menu-drop {
  opacity: 1;
  visibility: visible;
}
.header .menu .menu-item .menu-link {
  color: #72727E;
  font-weight: 500;
  transition: 0.3s;
  display: block;
  padding: 15px;
}
.header .menu .menu-item .menu-link.active-link {
  color: #446DF6;
}
.header .menu .menu-item .menu-link:hover {
  color: #446DF6;
}
.header .menu .menu-item .menu-drop {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 20px #e9e7e7;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.header .menu .menu-item .menu-drop .drop-link {
  display: block;
  padding: 15px;
  color: black;
  transition: 0.3s;
}
.header .menu .menu-item .menu-drop .drop-link:hover {
  color: #446DF6;
}
.header .header-btn {
  padding: 14px;
  border: 1px solid #E9ECF5;
  border-radius: 6px;
  color: #446DF6;
  transition: 0.3s;
}
@media (width < 1200px) {
  .header .header-btn {
    display: none;
  }
}
.header .header-btn:hover {
  background-color: #446DF6;
  color: #E9ECF5;
}

.menu-item:first-child {
  display: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 99;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup .popup-body {
  position: relative;
  background-color: #fff;
  width: 480px;
  padding: 40px 30px;
}
.popup .close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  color: #72727E;
}
.popup .popup-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.popup .input-box {
  border: 1px solid #E9ECF5;
  display: flex;
  gap: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.popup .input-box.error-line {
  border: 2px solid tomato;
}
.popup .input-box.valid-line {
  border: 2px solid green;
}
.popup .input-box input::-moz-placeholder {
  color: #C0C0C0;
}
.popup .input-box input::placeholder {
  color: #C0C0C0;
}
.popup .error {
  color: tomato;
  margin-top: 10px;
  display: block;
}
.popup .ico-wrapper {
  border-right: 1px solid #E9ECF5;
  padding: 10px;
}
.popup .check {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.popup .check p {
  font-size: 14px;
}
.popup .check .check-true {
  display: none;
}
.popup .check .check-true:checked + span::after {
  display: block;
}
.popup .check span {
  position: relative;
  width: 18px;
  height: 18px;
  display: block;
  border: 1px solid #E9ECF5;
  border-radius: 6px;
}
.popup .check span::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 11px;
  background-image: url(../../img/check.svg);
  background-repeat: no-repeat;
  display: block;
  top: calc(50% - 4px);
  left: calc(50% - 6px);
  display: none;
}
.popup .btn-form {
  width: 100%;
}

.stop-scroll {
  overflow: hidden;
}

.home {
  padding-top: 100px;
}
.home .home-wrapper {
  display: flex;
  gap: 105px;
}
.home-content {
  margin-top: 150px;
  width: 420px;
}
.home-title {
  position: relative;
  font-size: 30px;
}
.home-title::after {
  position: absolute;
  content: "";
  background-image: url(../../img/arrow-home.svg);
  width: 102px;
  height: 25px;
  bottom: 0;
  right: 0;
}
.home-text {
  font-size: 20px;
  margin: 80px 0 30px;
}

.start {
  padding-block: 100px;
}
.start .start-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.start .start-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.start .start-title {
  font-size: 30px;
  margin-bottom: 40px;
}
.start .start-line {
  display: flex;
  gap: 30px;
}
.start .start-line:nth-child(n+2) {
  margin-top: 40px;
}
.start .start-box h4 {
  font-size: 20px;
}
.start .start-box p {
  font-size: 18px;
  color: #72727E;
  line-height: 135%;
  margin-top: 12px;
}

.partner {
  padding-block: 100px;
}
.partner .partner-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.partner .partner-text {
  font-size: 18px;
  color: #72727E;
  line-height: 140%;
  text-align: center;
}
.partner .partner-wrapper {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.partner .partner-wrapper .partner-card {
  padding: 20px;
  color: #141B41;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 10px 20px #f3f2f2;
  flex: 1;
}
.partner .partner-content {
  margin-top: 40px;
}
.partner .btn-center {
  display: grid;
  place-items: center;
  margin-top: 60px;
}

.hour {
  padding-block: 100px;
}
.hour .hour-banner {
  position: relative;
}
.hour .hour-banner .hour-wrapper {
  position: absolute;
  top: 120px;
  left: 70px;
  width: 490px;
}
.hour .hour-banner .hour-wrapper .hour-title {
  font-size: 40px;
  color: #F7F8FD;
}
.hour .hour-banner .hour-wrapper .hour-text {
  font-size: 18px;
  color: #E9ECF5;
  margin: 17px 0 45px;
}

.reviews {
  padding-block: 150px;
}
.reviews .reviews-wrapper {
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 340px;
}
.reviews .reviews-card img {
  border-radius: 100%;
}
.reviews .reviews-content {
  display: flex;
  gap: 30px;
  align-items: center;
}
.reviews .reviews-name {
  font-size: 24px;
}
.reviews .reviews-job {
  font-size: 18px;
  color: #72727E;
}
.reviews .reviews-title {
  font-size: 30px;
  color: #141B41;
  margin-bottom: 30px;
}
.reviews .reviews-text {
  font-size: 18px;
  color: #72727E;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e5e6e9;
}

.swiper {
  overflow: hidden;
  width: 700px;
}

.swiper .swiper-wrapper {
  display: inline-flex;
}

.btns-slider {
  display: flex;
  gap: 10px;
}

.reviews-btn {
  background-image: url(../../img/reviews-arrow-default.svg);
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.reviews-btn:hover {
  background-image: url(../../img/reviews-arrow-hover.svg);
}

.reviews-btn:last-child {
  rotate: 180deg;
}

.footer {
  background-color: #141B41;
  padding-block: 25px;
}
.footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .menu-footer {
  display: flex;
  gap: 30px;
}
.footer .footer-link {
  color: #fff;
}
.footer .footer-btn {
  display: block;
  padding: 12px;
  color: #F7F8FD;
  border: 1px solid #72727E;
  border-radius: 6px;
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */