body {
    font-family: 'Montserrat';
}

.container {
    max-width: $desktop;
    margin: 0 auto;
    padding-inline: 15px;

    @include adaptivDesktop {
        max-width: 992px;
    }

    @include adaptiveLaptop {
        max-width: 768px;
    }

    @include adaptiveTablet {
        max-width: 576px;
    }

    @include adaptiveMobile {
        max-width: 90%;
    }
}

.btn {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    border-radius: $border;
    padding: 18px 38px;
    background-color: $colorBlue;
    color: #fff;
    transition: .3s;
    border: 1px solid $colorBlue;

    &:hover {
        background-color: #fff;
        border: 1px solid $colorBlue;
        color: $colorBlue;
    }
}