body {
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: $desktop;
    margin: 0 auto;
    padding-inline: 15px;

    @include desktop {
        max-width: 992px;
    }

    @include laptop {
        max-width: 768px;
    }

    @include tablet {
        max-width: 576px;
    }

    @include mobile {
        max-width: 90%;
    }
}

.btn {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    border-radius: $border;
    padding: 18px 38px;
    background-color: $colorBlue;
    color: #fff;
    transition: .3s;
    border: 1px solid $colorBlue;

    &:hover {
        background-color: #fff;
        border: 1px solid $colorBlue;
        color: $colorBlue;
    }
}

.btn-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .3s;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}