$colorGrey: #72727E;
$colorBlue: #446DF6;
$colorDarkBlue: #141B41;
$colorLightGrey: #E9ECF5;

$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 576px;

$border: 6px;


@mixin desktop() {
    @media(width < 1200px) {
        @content
    }
};

@mixin laptop() {
    @media(width < 992px) {
        @content
    }
};

@mixin tablet() {
    @media(width < 768px) {
        @content
    }
};

@mixin mobile() {
    @media(width < 576px) {
        @content
    }
};

@mixin padBlock ($pad) {
    padding-block: $pad;
};

@mixin fontStyle($fz, $fw) {
    font-size: $fz;
    font-weight: $fw;
};