.burger {

    font-size: 30px;
    display: none;

    @include desktop {
        display: block;
    }

    .fa-solid {
        display: block;
        color: $colorGrey;
    }

    .burger-true,
    .burger-close
    {
        display: none;
    }

    .burger-true:checked + .burger-line {
        display: none;
    }

    .burger-true:checked ~ .burger-close {
        display: block;
    }

}