.header {

    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 99;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .menu {
        display: flex;
        gap: 30px;

        .menu-item {
            position: relative;

            &:hover .menu-drop {
                
                opacity: 1;
                visibility: visible;
            }

            .menu-link {
                color: $colorGrey;
                font-weight: 500;
                transition: .3s;
                display: block;
                padding: 15px;

                &.active-link {
                    color: $colorBlue;
                }
    
                &:hover {
                    color: $colorBlue;
                }
            }

            .menu-drop {
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #fff;
                width: 300px;
                border-radius: 20px;
                box-shadow: 0 0 20px #e9e7e7;
                padding: 15px;
                opacity: 0;
                visibility: hidden;
                transition: .4s;

                .drop-link {
                    display: block;
                    padding: 15px;
                    color: black;
                    transition: .3s;

                    &:hover {
                        color: $colorBlue;
                    }
                }
            }
        }
    }

    .header-btn {
        padding: 14px;
        border: 1px solid $colorLightGrey;
        border-radius: $border;
        color: $colorBlue;
        transition: .3s;

        &:hover {
            background-color: $colorBlue;
            color: $colorLightGrey;
        }
    }
}

.menu-item:first-child {
    display: none;
}