.reviews {

    @include padBlock (150px);

    .reviews-wrapper {
        display: grid;
        grid-template-columns: 1fr 120px;
        gap: 340px;
    }

    .reviews-card {

        img {
            border-radius: 100%;
        }
    }

    .reviews-content {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    .reviews-name {
        font-size: 24px;
    }

    .reviews-job {
        font-size: 18px;
        color: $colorGrey;
    }

    .reviews-title {
        font-size: 30px;
        color: $colorDarkBlue;
        margin-bottom: 30px;
    }

    .reviews-text {
        font-size: 18px;
        color: $colorGrey;
        padding-bottom: 20px;
        margin-bottom: 40px;
        border-bottom: 1px solid #e5e6e9;
    }
}

.swiper {
    overflow: hidden;
    width: 700px;
}

.swiper .swiper-wrapper {
    display: inline-flex;
}

.btns-slider {
    display: flex;
    gap: 10px;
}

.reviews-btn {
    background-image: url(../../img/reviews-arrow-default.svg);
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-image: url(../../img/reviews-arrow-hover.svg);
    }
}

.reviews-btn:last-child {
    rotate: 180deg;
}